In [2]:
ages = [19,22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()

print("Minimum Age :",ages[0],"Max age =",ages[-1])
mid = len(ages)//2
print("Median : ",(ages[mid]+ages[mid+1])//2)
print("Average Ages : ",sum(ages)/len(ages))
print("Range of ages ",max(ages)-min(ages))

Minimum Age : 19 Max age = 26
Median :  24
Average Ages :  22.8
Range of ages  7

In [4]:
dog = {"name":"Tommy", "color":"Brown", "breed":"Golden retriever", "legs":4, "age":1}
student = { "first_name":"Tejaswi reddy", "last_name":"Marri", "gender":"female", "age":23, "marital_status":"Unmarried", "skills":["Python","ML","Java","AI"], "country":"India", 
           "city":"Hyderabad", "address":"bowenpally"}

print("Length =",len(student))
print(student["skills"],type(student["skills"]))
student["skills"].append("Dancing")
student["skills"].append("Cooking")
print(student.keys())
print(student.values())

Length = 9
['Python', 'ML', 'Java', 'AI'] <class 'list'>
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
dict_values(['Tejaswi reddy', 'Marri', 'female', 23, 'Unmarried', ['Python', 'ML', 'Java', 'AI', 'Dancing', 'Cooking'], 'India', 'Hyderabad', 'bowenpally'])

In [5]:
brothers = ("mahesh","Rithwik","revanth")
sisters = ("Chitra","Namrutha","srujana","manaswi")
siblings = brothers+sisters
print(siblings)

('mahesh', 'Rithwik', 'revanth', 'Chitra', 'Namrutha', 'srujana', 'manaswi')

In [5]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length of It Companies =",len(it_companies))

it_companies.add("Twitter")

it_companies.update({"TCS","Accenture"})

it_companies.remove("Accenture")

print(A|B)
print(A.intersection(B))
print(A.issubset(B))
print(A.symmetric_difference(B))

del A,B

age_set = set(age)

print("Length of the set :",len(age_set),"Length of the list :",len(age), "length of set greater than length of list?",len(age_set))

Length of It Companies = 7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
{27, 28}
Length of the set : 5 Length of the list : 8 length of set greater than length of list? 5

In [1]:
r=30
_area_of_circle=3.14*(r**2)
print("area of circle :",_area_of_circle)
_circum_of_circle=2*3.17*r
print("circumference of circle :",_circum_of_circle)
n=int(input())
area=3.14*(n**2)
print("Area of circle with user input :",area)

area of circle : 2826.0
circumference of circle : 190.2

:

In [6]:

radius = int(input("radius: "))

_area_of_circle_ = 3.14*radius*radius
_circum_of_circle_ = 2*3.14*radius

In [1]:
s ="I am a teacher and I love to inspire and teach people"
l=set(s.split(" "))
print(l)
print(len(l))

{'and', 'to', 'am', 'love', 'teacher', 'people', 'a', 'teach', 'inspire', 'I'}
10

In [6]:
print("Name\t\tAge\tCountry\t\tCity")
print("Asabeneh\t250\tFinland\t\tHelsinki")

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [7]:
radius = 10
print("Radius = {0}".format(radius))

print("area = {0} * radius ** 2".format(3.14))

print("The area of a circle with radius {0} is {1} meters square.".format(10,int(3.14* 10 **2)))

Radius = 10
area = 3.14 * radius ** 2
The area of a circle with radius 10 is 314 meters square.

In [3]:
n=int(input("Enter number of student's weight to be calculated"))
weights_in_lbs=[]
weights_in_kg=[]
#appending the elements into the list
for i in range(n):
    weights_in_lbs.append(int(input("weight {} \n".format(i+1))))
print(weights_in_lbs)
#converting lbs to kilogram with exactly 2 decimal places
for i in range(len(weights_in_lbs)):
    lbs=0.45359237 #1lbs= 0.45359237kg
    temp=round(weights_in_lbs[i]*lbs,2)
    weights_in_kg.append(temp)
    temp=0
print(weights_in_kg)

[23, 45, 67]
[10.43, 20.41, 30.39]